@import "global.css";

* {
    box-sizing: border-box;
}
body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding-bottom: 80px;
}

header {
    padding: 0.5rem;
    background-color: var(--bg-section);
    border-bottom: 2px solid var(--border);
    border-radius: 12px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-primary);
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 2rem 2rem 3rem 2rem;
}

.card {
    background-color: var(--bg-section);
    padding: 1rem;
    margin: 20px 10px;
    border: 1px solid var(--border);
    border-radius: 12px;
    position: relative;
}

.card__question {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 20px 0;
    color: var(--text-primary);
}


.card__button {
    background-color: var(--accent);
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.card__button:hover {
    background-color: var(--button-hover);
}

.card__bookmark {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: 15px;
    cursor: pointer;
}
.card__tags {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    gap: 10px;
    margin-top: 20px;
}

.card__tag {
    background-color: var(--accent);
    color: var(--text-light);
    font-size: 0.9rem;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid var(--accent);
    width: 100%;
    background-color: var(--bg-navbar);
    padding: 10px 0 30px 0;
    gap: 40px;
}

.nav__item {
    width: 30px;
    height: 30px;
    opacity: 0.7;
}

.navbar img {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

.nav__item.active img {
    opacity: 1;
    filter: #fff;
}
.nav__item:hover img {
    opacity: 1;
}