* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-weight: 400;
  margin: 0;
}

.container {
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 0.5rem;
  background-color: var(--bg-section);
  border-radius: 12px;
  border-bottom: 2px solid var(--border);
  position: fixed;
  top: 0;
  width: 100%;
}

.darkmode header {
  background-color: var(--bg-dark-mode);
  border-bottom: 2px solid var(--border);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-primary);
  height: 39.2px;
}

.darkmode .title {
  color: var(--text-dark-mode);
}

main {
  margin: 140px 20px 100px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--bg-section);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--border);
  margin-bottom: 30px;
}

.darkmode .profile {
  background-color: var(--bg-dark-mode);
  border-bottom: 2px solid var(--border);
}

.profile__name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-primary);
}
.darkmode .profile__name {
  color: var(--text-dark-mode);
}

.profile__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--border);
}

/* Info */

.info {
  background-color: var(--bg-navbar);
  padding: 20px;
  border-radius: 12px;
  color: var(--text-light);
  margin-bottom: 30px;
}

.about {
  font-size: 1.3rem;
}

.darkmode .about {
  color: var(--text-dark-mode);
}

.info ul {
  padding: 0;
  margin: 0;
}

.darkmode .info {
  background-color: var(--bg-dark-mode);
  border: 2px solid var(--border);
  color: var(--text-dark-mode);
}

.info li {
  list-style: none;
  line-height: 1.5;
  padding: 10px 0;
  border-bottom: 1px solid var(--text-light);
}

/* Toggle */

.setting {
  background-color: var(--bg-section);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}

.darkmode .setting {
  background-color: var(--bg-dark-mode);
  border-bottom: 2px solid var(--border);
}

.darkmode .setting h2, .darkmode .setting__toggle {
  color: var(--text-dark-mode);
}

.setting h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 15px 0;
  color: var(--text-primary);
}

.setting__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  color: var(--text-primary);
}

.setting__toggle--switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.setting__toggle--switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.setting--slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  transition: background-color 0.3s;
  border-radius: 24px;
}

.setting--slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--text-light);
  transition: transform 0.3s;
  border-radius: 50%;
}

.setting__toggle--switch input:checked + .setting--slider {
  background-color: var(--bg-navbar);
}

.setting__toggle--switch input:checked + .setting--slider:before {
  transform: translateX(26px);
}

.setting__toggle--switch input:hover + .setting--slider {
  background-color: var(--button-hover);
}

.darkmode {
  background-color: var(--bg-dark-mode);
  color: var(--text-dark-mode);
}

/* Counted */
.counted {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.counted__question,
.counted__bookmarks {
  display: flex;
  justify-content: center;
  background-color: var(--bg-section);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border);
  min-width: 100px;
}

.darkmode .counted__question, .darkmode .counted__bookmarks {
  background-color: var(--bg-dark-mode);
  border-bottom: 2px solid var(--border);
}



.counted__bookmarks img,
.counted__question img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.counted__question span,
.counted__bookmarks span {
  color: var(--accent);
  font-size: 1.4rem;
  align-self: center;
}

.darkmode .counted__question span, .darkmode .counted__bookmarks span {
  color: var(--text-dark-mode);
}

/* NAVBAR */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar {
  display: flex;
}

.navbar__item {
  flex-grow: 1;
  text-align: center;
  background: var(--bg-navbar);
  padding: 16px;
}

.navbar__item img {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.navbar__item.active {
  background-color: var(--accent);
}

.navbar__item.active img {
  opacity: 1;
}
